@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('img/1.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Date container */
.date-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 190px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.date-container p {
    margin: 0;
    width: 187px;
    height: 27px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.login-box {
    background: transparent;
    border-radius: 8px;
    width: 320px;
    box-shadow: none;
}

.login-image {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: block;
}

.login-form {
    padding: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: transparent;
    border: 0.5px solid white;
    border-radius: 7px;
    padding: 5px;
}

.input-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

.login-input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: whitesmoke;
    color: blue;
    border: none;
    border-radius: 32px;
    font-size: 16px;
    cursor: pointer;
}

.footer-text {
    text-align: center;
    padding: 5px;
    font-size: 12px;
    color: #fff;
}

/* Section and Post-login styles */
.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 24px;
    font-family: 'SFProDisplayHeavyItalic', sans-serif;
    text-align: center;
    padding: 20px;
}


.container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh; 
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.slider {
    display: flex;
    width: 100%; 
    height: 100%;
    transition: transform 2s ease-in-out; 
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.slide img, .slide video {
    max-width: 100%;
    max-height: 100%;
    width: 100%; /* Mengatur lebar menjadi 100% */
    height: auto; /* Tinggi secara otomatis menyesuaikan */
    object-fit: contain; /* Menjaga rasio aspek tanpa memotong gambar */
}

.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.control img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}


.background-music {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.background-music audio {
    width: 200px;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #505050;
    font-size: 24px;
    font-family: 'SFProDisplayHeavyItalic', sans-serif;
    text-align: center;
    padding: 20px;
}

.scroll-arrow {
    position: absolute;
    bottom: 10px;
    left: 50%; 
    transform: translateX(-50%); 
    cursor: pointer;
}

.scroll-arrow img {
    width: 50px;
}

.scroll-up {
    position: absolute;
    top: 10px;
    left: 50%; 
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 1000; 
    display: none; 
}

.show-controls {
    opacity: 1 !important; 
}

.control {
    background-color: rgba(0, 0, 0, 0.7); 
    border: none;
    padding: 10px; 
    border-radius: 50%; 
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

@font-face {
    font-family: 'SFProDisplayHeavyItalic';
    src: url('fonts/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
    font-weight: normal;
    font-style: italic;
}

.lyrics-text {
    position: absolute;
    bottom: 50px; /* Letakkan lirik 50px dari bawah layar */
    left: 50%;
    transform: translateX(-50%); /* Posisikan di tengah secara horizontal */
    z-index: 9999; /* Memastikan teks selalu di atas */
    font-family: 'SFProDisplayHeavyItalic', sans-serif;
    font-size: 30px;
    color:#F9F018;
    text-align: center; /* Buat teks center-aligned */
    white-space: nowrap;
    overflow: hidden; /* Sembunyikan overflow */
    transition: opacity 1s ease-out;
    width: 100%; /* Pastikan elemen lirik mengambil seluruh lebar */
}

.typing-effect {
    border-right: 2px solid white; /* Efek kursor */
    white-space: nowrap;
    animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.line {
    display: block;
    margin-bottom: 10px; /* Jarak antara dua baris */
}



.typing {
    display: inline;
    border-right: 2px solid white; /* Kursor ketik */
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}
